/* See http://mrdanadams.com/2012/pixel-ems-css-conversion-sass-mixin/ */
/* Default font size in pixels if not overridden. */
/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
/* Used to convert PX to EMs for multiple properties or values or both.
$base is an optional measurement that allows making measurements relative to the parent font size rather than the current. Also accepts a list of lists (instead a list of values) for properties that accept multiple lists of values. Only numbers of converted; everything else is passed through.

Examples:

@include scale(line-height, 30)
@include scale(line-height, 30, 16)
@include scale(width height, 125);
@include scale(padding, 0 25, 16);
@include scale(text-shadow, (#0d6e28 1 1) (#777 0 0 2), 16);
@include scale(box-shadow, (inset 0 0 0 1 #2a9022) (inset 0 0 3 #459966), 16);
*/
.oldie {
  width: 100%;
  overflow-x: hidden; }
  .oldie .hide-ie {
    display: none !important; }

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
  padding: 0;
  margin: 0; }

#page {
  background-color: #fff; }

body {
  padding: 0;
  margin: 0; }

.header {
  background-color: #005599;
  overflow: hidden;
  *zoom: 1; }

.row {
  max-width: 1060px;
  margin: 0 auto; }

.main-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
  float: left;
  display: block;
  text-transform: uppercase; }
  .main-menu li {
    background-color: #005599; }
    @media (min-width: 1082px) {
      .main-menu li {
        background-color: transparent; } }
    .oldie .main-menu li {
      background-color: transparent; }
  .main-menu .item-more {
    padding: 0.5em;
    margin: 0;
    display: none;
    position: absolute;
    top: 0px;
    right: 0;
    text-decoration: none;
    color: #eee;
    letter-height: 0.2em;
    font-weight: 100; }
    @media (min-width: 800px) {
      .main-menu .item-more {
        display: block; } }
    @media (min-width: 1082px) {
      .main-menu .item-more {
        padding: 0.6em 0.2em;
        display: none; } }
    .oldie .main-menu .item-more {
      padding: 0.6em 0.2em;
      display: none; }
  @media (max-width: 1081px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(8) {
      width: 9%; }
    .main-menu li:nth-of-type(7) {
      width: 9%; }
    .main-menu li:nth-of-type(6) {
      width: 9%; }
    .main-menu li:nth-of-type(5) {
      width: 14%; }
    .main-menu li:nth-of-type(4) {
      width: 16%; }
    .main-menu li:nth-of-type(3) {
      width: 13%; }
    .main-menu li:nth-of-type(2) {
      width: 13%; }
    .main-menu li:nth-of-type(1) {
      width: 9%; } }
  @media (max-width: 881px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(8) {
      display: none; }
    .main-menu li:nth-of-type(7) {
      width: 8%; }
    .main-menu li:nth-of-type(6) {
      width: 9%; }
    .main-menu li:nth-of-type(5) {
      width: 15%; }
    .main-menu li:nth-of-type(4) {
      width: 17%; }
    .main-menu li:nth-of-type(3) {
      width: 13%; }
    .main-menu li:nth-of-type(2) {
      width: 13%; }
    .main-menu li:nth-of-type(1) {
      width: 8%; }
    .main-menu .more {
      width: 9%; } }
  @media (max-width: 841px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(7) {
      display: none; }
    .main-menu li:nth-of-type(6) {
      width: 10%; }
    .main-menu li:nth-of-type(5) {
      width: 17%; }
    .main-menu li:nth-of-type(4) {
      width: 18%; }
    .main-menu li:nth-of-type(3) {
      width: 14%; }
    .main-menu li:nth-of-type(2) {
      width: 14%; }
    .main-menu li:nth-of-type(1) {
      width: 10%; }
    .main-menu .more {
      width: 10%; } }
  @media (max-width: 796px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(6) {
      display: none; }
    .main-menu li:nth-of-type(5) {
      width: 17%; }
    .main-menu li:nth-of-type(4) {
      width: 20%; }
    .main-menu li:nth-of-type(3) {
      width: 16%; }
    .main-menu li:nth-of-type(2) {
      width: 16%; }
    .main-menu li:nth-of-type(1) {
      width: 12%; }
    .main-menu .more {
      width: 13%; } }
  @media (max-width: 688px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(5) {
      display: none; }
    .main-menu li:nth-of-type(4) {
      width: 25%; }
    .main-menu li:nth-of-type(3) {
      width: 20%; }
    .main-menu li:nth-of-type(2) {
      width: 20%; }
    .main-menu li:nth-of-type(1) {
      width: 15%; }
    .main-menu .more {
      width: 15%; } }
  @media (max-width: 574px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(4) {
      display: none; }
    .main-menu li:nth-of-type(3) {
      width: 24%; }
    .main-menu li:nth-of-type(2) {
      width: 25%; }
    .main-menu li:nth-of-type(1) {
      width: 23%; }
    .main-menu .more {
      width: 24%; } }
  @media (max-width: 499px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(4) {
      display: block;
      width: 25%; }
    .main-menu li:nth-of-type(3) {
      width: 20%; }
    .main-menu li:nth-of-type(2) {
      width: 20%; }
    .main-menu li:nth-of-type(1) {
      width: 14%; }
    .main-menu .more {
      width: 16%; } }
  @media (max-width: 404px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: 1% !important; }
    .main-menu li:nth-of-type(4) {
      display: none; }
    .main-menu li:nth-of-type(3) {
      width: 28%; }
    .main-menu li:nth-of-type(2) {
      width: 27%; }
    .main-menu li:nth-of-type(1) {
      width: 18%; }
    .main-menu .more {
      width: 19%; } }
  @media (max-width: 315px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(3) {
      width: 29%; }
    .main-menu li:nth-of-type(2) {
      width: 28%; }
    .main-menu li:nth-of-type(1) {
      width: 19%; }
    .main-menu .more {
      width: 20%; } }
  @media (max-width: 277px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: 1% !important; }
    .main-menu li:nth-of-type(3) {
      display: none; }
    .main-menu li:nth-of-type(2) {
      width: 36%; }
    .main-menu li:nth-of-type(1) {
      width: 29%; }
    .main-menu .more {
      width: 29%; } }
  @media (max-width: 227px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: .5% !important; }
    .main-menu li:nth-of-type(2) {
      width: 40%; }
    .main-menu li:nth-of-type(1) {
      width: 27%; }
    .main-menu .more {
      width: 29%; } }
  @media (max-width: 200px) {
    .main-menu li a, .main-menu .more a {
      padding: 0.8em 0 !important;
      text-align: center; }
    .main-menu li {
      margin: 1% !important; }
    .main-menu li:nth-of-type(2) {
      display: none; }
    .main-menu li:nth-of-type(1) {
      width: 48%; }
    .main-menu .more {
      width: 48%; } }

.more {
  display: block; }
  @media (min-width: 882px) {
    .more {
      display: none; } }
  .oldie .more {
    display: none; }

.caret {
  width: 6px;
  height: 6px;
  fill: #202020;
  position: absolute;
  top: 43%;
  right: 0.8em; }

.caret-img {
  width: 6px !important;
  position: absolute;
  top: 45%;
  right: 0.4em;
  border: none; }

ul.dropdown li.hover .caret {
  fill: #005599; }

.hamburger {
  width: 40px;
  display: block;
  height: 40px; }
  @media (min-width: 1082px) {
    .hamburger {
      display: none; } }
  .oldie .hamburger {
    display: none; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger.open .ingrediant {
    background: #fff; }
    .hamburger.open .ingrediant:first-child {
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -moz-transform-origin: 10px 50%;
      -ms-transform-origin: 10px 50%;
      -webkit-transform-origin: 10px 50%;
      transform-origin: 10px 50%; }
    .hamburger.open .ingrediant:nth-child(2) {
      opacity: 0; }
    .hamburger.open .ingrediant:nth-child(3) {
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -moz-transform-origin: 8px 50%;
      -ms-transform-origin: 8px 50%;
      -webkit-transform-origin: 8px 50%;
      transform-origin: 8px 50%; }

.ingrediant {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  display: block;
  width: 40px;
  height: 3px;
  margin: 0 0 5px;
  background: #fff; }

.menu-wrap {
  clear: both;
  min-height: 35px;
  position: relative; }
  @media (min-width: 1082px) {
    .menu-wrap {
      background-color: #202020; } }
  .oldie .menu-wrap {
    background-color: #202020; }
  .menu-wrap ul {
    float: left;
    margin: 0;
    padding: 0; }
    .menu-wrap ul li a {
      color: white;
      font-weight: 500;
      letter-spacing: 0.1em;
      padding: 0.8em;
      font-size: 0.7em; }
      @media (min-width: 500px) {
        .menu-wrap ul li a {
          font-size: 1em; } }
      @media (min-width: 1082px) {
        .menu-wrap ul li a {
          font-size: 1em;
          padding: 0.5em 1.4em; } }
      .oldie .menu-wrap ul li a {
        font-size: 1em;
        padding: 0.5em 1.4em; }
      @media (min-width: 1082px) {
        .menu-wrap ul li a:hover, .menu-wrap ul li a.dl-active {
          background-color: #eeeeee;
          color: #202020; } }
      .oldie .menu-wrap ul li a:hover, .oldie .menu-wrap ul li a.dl-active {
        background-color: #eeeeee;
        color: #202020; }

.sub-wrap {
  min-height: 33px;
  background-color: #eeeeee;
  clear: both;
  display: none; }
  @media (min-width: 1082px) {
    .sub-wrap {
      display: block; } }
  .oldie .sub-wrap {
    display: block; }
  .sub-wrap ul {
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    display: none; }
    @media (min-width: 1082px) {
      .sub-wrap ul.on {
        display: block; } }
    .oldie .sub-wrap ul.on {
      display: block; }
    .sub-wrap ul a {
      color: #202020;
      font-weight: 300;
      padding: 0.5em;
      overflow: hidden;
      *zoom: 1;
      max-width: 18em; }
      .sub-wrap ul a img {
        float: left;
        margin-right: 4%;
        width: 20%; }
      .sub-wrap ul a div.has-img {
        float: left;
        width: 76%; }

.menu-wrap ul li, .sub-wrap ul li {
  list-style: none;
  float: left;
  margin: 0.25em;
  padding: 0; }
  @media (min-width: 1082px) {
    .menu-wrap ul li, .sub-wrap ul li {
      margin: 0;
      padding: 0; } }
  .oldie .menu-wrap ul li, .oldie .sub-wrap ul li {
    margin: 0;
    padding: 0; }
  .menu-wrap ul li a, .sub-wrap ul li a {
    display: block;
    text-decoration: none; }

.sub-line {
  position: relative; }
  .sub-line > li > a {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.05em;
    word-spacing: -0.08em;
    color: #202020;
    padding: 1em;
    position: relative; }
  @media (min-width: 1082px) {
    .sub-line > li.hover a, .sub-line > li a:hover {
      background-color: white;
      color: #005599; } }
  .oldie .sub-line > li.hover a, .oldie .sub-line > li a:hover {
    background-color: white;
    color: #005599; }

/* LEVEL ONE */
ul.dropdown {
  list-style: none;
  z-index: 10;
  background-color: #eeeeee;
  /* LEVEL TWO */ }
  ul.dropdown li {
    float: left;
    zoom: 1;
    position: relative; }
    ul.dropdown li.hover, ul.dropdown li:hover {
      color: #005599; }
    ul.dropdown li.hover a {
      color: #005599; }
  ul.dropdown p {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    font-weight: 400;
    color: #333;
    font-size: 1.5em; }
  ul.dropdown img {
    float: left;
    margin-right: 4%;
    width: 20%; }
  ul.dropdown div.has-img {
    float: left;
    width: 76%; }
  ul.dropdown a:hover {
    color: #005599; }
  ul.dropdown a:active {
    color: #005599; }
  ul.dropdown.open-left .sub-menu {
    right: 0;
    left: inherit; }
  ul.dropdown .has-sub a {
    padding-right: 2em; }
    ul.dropdown .has-sub a ul li a {
      padding: 0.6em 5% 0.6em 5%;
      max-width: inherit;
      width: 90%; }
  ul.dropdown .sub-menu {
    display: none;
    min-width: 15em;
    background-color: white;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    padding: 5px 0;
    margin-left: -1px;
    list-style: none;
    font-size: 1em;
    background-color: white;
    border-left: 1px solid #eeeeee;
    border-left: 1px solid rgba(238, 238, 238, 0.85);
    border-right: 1px solid #eeeeee;
    border-right: 1px solid rgba(238, 238, 238, 0.85);
    border-bottom: 1px solid #eeeeee;
    border-bottom: 1px solid rgba(238, 238, 238, 0.85);
    background-clip: padding-box;
    -moz-box-shadow: 0px 8px 18px rgba(32, 32, 32, 0.15);
    -webkit-box-shadow: 0px 8px 18px rgba(32, 32, 32, 0.15);
    box-shadow: 0px 8px 18px rgba(32, 32, 32, 0.15); }
    ul.dropdown .sub-menu li {
      float: none;
      display: block;
      width: 100%; }
      ul.dropdown .sub-menu li > a {
        padding: 0.6em 5% 0.6em 5%;
        max-width: inherit;
        width: 90%;
        font-size: 0.9em; }
    @media (min-width: 1082px) {
      ul.dropdown .sub-menu {
        display: block; } }
    .oldie ul.dropdown .sub-menu {
      display: block; }
  ul.dropdown ul li {
    float: none;
    position: relative;
    /* IE 6 & 7 Needs Inline Block */
    /* 
    LEVEL THREE
    */ }
    ul.dropdown ul li a {
      border-right: none;
      display: inline-block;
      color: #005599; }
    ul.dropdown ul li ul {
      left: 100%;
      top: 0; }
  ul.dropdown ul li:hover > ul {
    visibility: visible; }

.full-width-overide {
  position: static !important; }
  .full-width-overide > .sub-menu {
    width: 1060px;
    position: absolute;
    left: 0; }
  .full-width-overide .twelve-up.sub-menu {
    overflow: hidden;
    *zoom: 1; }
    .full-width-overide .twelve-up.sub-menu > li {
      width: 16.566666667%;
      float: left;
      text-align: center;
      padding: 0;
      margin: 0; }
      .full-width-overide .twelve-up.sub-menu > li:nth-of-type(7) {
        clear: left; }
      .full-width-overide .twelve-up.sub-menu > li > a {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.6em;
        padding: 1em 1.5em;
        display: block;
        width: auto;
        border: none; }
      .full-width-overide .twelve-up.sub-menu > li > a > img {
        margin: 0 0 4% 0;
        width: 100%;
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        border-radius: 0.5em;
        border: none; }
      .full-width-overide .twelve-up.sub-menu > li:hover {
        opacity: .9; }

.scroll {
  display: none;
  background-color: #005599;
  width: 100%;
  height: 45px; }
  .scroll .top a {
    padding: 0.5em 0.8em 0.5em 0.8em; }
  .scroll img {
    border: none; }
  .scroll .logo {
    float: left;
    margin-top: 0.4em;
    margin-right: 0.4em;
    max-width: 4em;
    height: 2em; }
    .scroll .logo .icon {
      max-height: 2em; }
  .scroll ul {
    overflow: hidden;
    *zoom: 1;
    margin: 0;
    padding: 0; }
    .scroll ul li {
      float: left;
      list-style-type: none; }
      .scroll ul li a {
        border: none;
        display: block;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.1em;
        padding: 0.8em; }
        @media (min-width: 1082px) {
          .scroll ul li a:hover, .scroll ul li a.s-active {
            background-color: #202020;
            color: white; } }
        .oldie .scroll ul li a:hover, .oldie .scroll ul li a.s-active {
          background-color: #202020;
          color: white; }
  @media (min-width: 1082px) {
    .scroll.scroll-on {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 200; } }
  .oldie .scroll.scroll-on {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200; }

/*
	jQuery.mmenu CSS
*/
.mm-page,
.mm-fixed-top,
.mm-fixed-bottom,
.mm-menu.mm-horizontal > .mm-panel {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, border;
  -moz-transition-property: top, right, bottom, left, border;
  -ms-transition-property: top, right, bottom, left, border;
  -o-transition-property: top, right, bottom, left, border;
  transition-property: top, right, bottom, left, border; }

html.mm-opened .mm-page,
html.mm-opened #mm-blocker {
  left: 0;
  top: 0;
  margin: 0;
  border: 0px solid transparent; }

html.mm-opening .mm-page,
html.mm-opening #mm-blocker {
  border: 0px solid rgba(100, 100, 100, 0); }

.mm-menu .mm-hidden {
  display: none; }

.mm-fixed-top,
.mm-fixed-bottom {
  position: fixed;
  left: 0; }

.mm-fixed-top {
  top: 0; }

.mm-fixed-bottom {
  bottom: 0; }

html.mm-opened .mm-page,
.mm-menu > .mm-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html.mm-opened {
  overflow-x: hidden;
  position: relative; }

html.mm-opened .mm-page {
  position: relative; }

html.mm-background .mm-page {
  background: inherit; }

#mm-blocker {
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==) transparent;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999; }

html.mm-opened #mm-blocker,
html.mm-blocking #mm-blocker {
  display: block; }

.mm-menu.mm-current {
  display: block; }

.mm-menu {
  background: inherit;
  display: none;
  overflow: hidden;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0; }
  .mm-menu > .mm-panel {
    background: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 0; }
    .mm-menu > .mm-panel.mm-opened {
      left: 0%; }
    .mm-menu > .mm-panel.mm-subopened {
      left: -40%; }
    .mm-menu > .mm-panel.mm-highest {
      z-index: 1; }
    .mm-menu > .mm-panel.mm-hidden {
      display: block;
      visibility: hidden; }

.mm-menu .mm-list {
  padding: 20px 0; }
.mm-menu > .mm-list {
  padding: 20px 0 40px 0; }

.mm-panel > .mm-list {
  margin-left: -20px;
  margin-right: -20px; }
  .mm-panel > .mm-list:first-child {
    padding-top: 0; }

.mm-list,
.mm-list > li {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0; }

.mm-list {
  font: inherit;
  font-size: 14px; }
  .mm-list a,
  .mm-list a:hover {
    text-decoration: none; }
  .mm-list > li {
    position: relative; }
    .mm-list > li > a,
    .mm-list > li > span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: inherit;
      line-height: 20px;
      display: block;
      padding: 10px 10px 10px 20px;
      margin: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {
    content: '';
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0; }
  .mm-list > li:not(.mm-subtitle):not(.mm-label):not(.mm-noresults):after {
    width: auto;
    margin-left: 20px;
    position: relative;
    left: auto; }
  .mm-list a.mm-subopen {
    width: 40px;
    height: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2; }
    .mm-list a.mm-subopen:before {
      content: '';
      border-left-width: 1px;
      border-left-style: solid;
      display: block;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0; }
    .mm-list a.mm-subopen.mm-fullsubopen {
      width: 100%; }
      .mm-list a.mm-subopen.mm-fullsubopen:before {
        border-left: none; }
    .mm-list a.mm-subopen + a,
    .mm-list a.mm-subopen + span {
      padding-right: 5px;
      margin-right: 40px; }
  .mm-list > li.mm-selected > a.mm-subopen {
    background: transparent; }
  .mm-list > li.mm-selected > a.mm-fullsubopen + a,
  .mm-list > li.mm-selected > a.mm-fullsubopen + span {
    padding-right: 45px;
    margin-right: 0; }
  .mm-list a.mm-subclose {
    text-indent: 20px;
    padding-top: 30px;
    margin-top: -20px; }
  .mm-list > li.mm-label {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
    text-indent: 20px;
    line-height: 25px;
    padding-right: 5px; }
  .mm-list > li.mm-spacer {
    padding-top: 40px; }
    .mm-list > li.mm-spacer.mm-label {
      padding-top: 25px; }
  .mm-list a.mm-subopen:after,
  .mm-list a.mm-subclose:before {
    content: '';
    border: 2px solid transparent;
    display: block;
    width: 7px;
    height: 7px;
    margin-bottom: -5px;
    position: absolute;
    bottom: 50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .mm-list a.mm-subopen:after {
    border-top: none;
    border-left: none;
    right: 18px; }
  .mm-list a.mm-subclose:before {
    border-right: none;
    border-bottom: none;
    margin-bottom: -15px;
    left: 22px; }

.mm-menu.mm-vertical .mm-list .mm-panel {
  display: none;
  padding: 10px 0 10px 10px; }
  .mm-menu.mm-vertical .mm-list .mm-panel li:last-child:after {
    border-color: transparent; }
.mm-menu.mm-vertical .mm-list li.mm-opened > .mm-panel {
  display: block; }
.mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen {
  height: 40px; }
  .mm-menu.mm-vertical .mm-list > li.mm-opened > a.mm-subopen:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 16px;
    right: 16px; }

html.mm-opened .mm-page {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.mm-ismenu {
  background: #333333;
  color: rgba(255, 255, 255, 0.6); }

.mm-menu .mm-list > li:after {
  border-color: rgba(0, 0, 0, 0.15); }
.mm-menu .mm-list > li > a.mm-subclose {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.3); }
.mm-menu .mm-list > li > a.mm-subopen:after, .mm-menu .mm-list > li > a.mm-subclose:before {
  border-color: rgba(255, 255, 255, 0.3); }
.mm-menu .mm-list > li > a.mm-subopen:before {
  border-color: rgba(0, 0, 0, 0.15); }
.mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu .mm-list > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.1); }
.mm-menu .mm-list > li.mm-label {
  background: rgba(255, 255, 255, 0.05); }
.mm-menu.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-vertical .mm-list li.mm-opened > ul {
  background: rgba(255, 255, 255, 0.05); }

html.mm-opening .mm-page,
html.mm-opening #mm-blocker,
html.mm-opening .mm-fixed-top,
html.mm-opening .mm-fixed-bottom {
  left: 80%; }

.mm-menu {
  width: 80%; }

@media all and (max-width: 175px) {
  .mm-menu {
    width: 140px; }

  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    left: 140px; } }
@media all and (min-width: 550px) {
  .mm-menu {
    width: 440px; }

  html.mm-opening .mm-page,
  html.mm-opening #mm-blocker,
  html.mm-opening .mm-fixed-top,
  html.mm-opening .mm-fixed-bottom {
    left: 440px; } }
/*
	jQuery.mmenu counters addon CSS
*/
em.mm-counter {
  font: inherit;
  font-size: 14px;
  font-style: normal;
  text-indent: 0;
  line-height: 20px;
  display: block;
  margin-top: -10px;
  position: absolute;
  right: 40px;
  top: 50%; }
  em.mm-counter + a.mm-subopen {
    padding-left: 40px; }
    em.mm-counter + a.mm-subopen + a,
    em.mm-counter + a.mm-subopen + span {
      margin-right: 80px; }
  em.mm-counter + a.mm-fullsubopen {
    padding-left: 0; }

.mm-vertical em.mm-counter {
  top: 12px;
  margin-top: 0; }

.mm-nosubresults > em.mm-counter {
  display: none; }

.mm-menu em.mm-counter {
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu dragOpen addon CSS
*/
html.mm-opened.mm-dragging .mm-menu,
html.mm-opened.mm-dragging .mm-page,
html.mm-opened.mm-dragging .mm-fixed-top,
html.mm-opened.mm-dragging .mm-fixed-bottom,
html.mm-opened.mm-dragging #mm-blocker {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/*
	jQuery.mmenu header addon CSS
*/
.mm-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  background: inherit;
  border-bottom: 1px solid transparent;
  text-align: center;
  line-height: 20px;
  width: 100%;
  height: 60px;
  padding: 30px 40px 0 40px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0; }
  .mm-header .mm-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 1; }
  .mm-header .mm-prev,
  .mm-header .mm-next {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 100%;
    position: absolute;
    bottom: 0; }
    .mm-header .mm-prev:before,
    .mm-header .mm-next:before {
      content: '';
      border: 2px solid transparent;
      display: block;
      width: 7px;
      height: 7px;
      margin-bottom: -5px;
      position: absolute;
      bottom: 50%;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      margin-bottom: -15px; }
  .mm-header .mm-prev {
    left: 0; }
    .mm-header .mm-prev:before {
      border-right: none;
      border-bottom: none;
      left: 22px; }
  .mm-header .mm-next {
    right: 0; }
    .mm-header .mm-next:before {
      border-top: none;
      border-left: none;
      right: 18px; }

.mm-menu.mm-hassearch .mm-header {
  height: 50px;
  padding-top: 20px;
  top: 50px; }
  .mm-menu.mm-hassearch .mm-header .mm-prev:before,
  .mm-menu.mm-hassearch .mm-header .mm-mext:before {
    margin-bottom: -10px; }

.mm-menu.mm-hasheader li.mm-subtitle {
  display: none; }
.mm-menu.mm-hasheader .mm-panel {
  padding-top: 80px; }
.mm-menu.mm-hasheader.mm-hassearch > .mm-panel {
  padding-top: 120px; }
.mm-menu.mm-hasheader.mm-ismenu > .mm-panel {
  padding-top: 60px; }
.mm-menu.mm-hasheader.mm-ismenu.mm-hassearch > .mm-panel {
  padding-top: 100px; }

.mm-menu .mm-header {
  border-color: rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.3); }
  .mm-menu .mm-header a:before {
    border-color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu labels addon CSS
*/
.mm-menu.mm-fixedlabels .mm-list {
  background: inherit; }
  .mm-menu.mm-fixedlabels .mm-list > li.mm-label {
    background: inherit !important;
    opacity: 0.97;
    height: 25px;
    overflow: visible;
    position: relative;
    z-index: 1; }
    .mm-menu.mm-fixedlabels .mm-list > li.mm-label > div {
      background: inherit;
      width: 100%;
      position: absolute;
      left: 0; }
      .mm-menu.mm-fixedlabels .mm-list > li.mm-label > div > div {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; }
    .mm-menu.mm-fixedlabels .mm-list > li.mm-label.mm-spacer > div > div {
      padding-top: 25px; }

.mm-list > li.mm-label > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0; }
.mm-list > li.mm-label.mm-opened a.mm-subopen:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 17px; }
.mm-list > li.mm-collapsed {
  display: none; }

.mm-menu .mm-list li.mm-label > div > div {
  background: rgba(255, 255, 255, 0.05); }

/*
	jQuery.mmenu searchfield addon CSS
*/
.mm-search,
.mm-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.mm-search {
  background: inherit;
  width: 100%;
  height: 50px;
  padding: 10px;
  position: relative;
  top: 0;
  z-index: 2; }
  .mm-search input {
    border: none;
    border-radius: 15px;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    outline: none;
    display: block;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 10px; }

.mm-menu li.mm-nosubresults > a.mm-subopen {
  display: none; }
  .mm-menu li.mm-nosubresults > a.mm-subopen + a,
  .mm-menu li.mm-nosubresults > a.mm-subopen + span {
    padding-right: 10px; }
.mm-menu li.mm-noresults {
  text-align: center;
  font-size: 21px;
  display: none;
  padding-top: 80px; }
  .mm-menu li.mm-noresults:after {
    border: none; }
.mm-menu.mm-noresults li.mm-noresults {
  display: block; }
.mm-menu.mm-hassearch > .mm-panel {
  padding-top: 60px; }

.mm-menu .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }
.mm-menu li.mm-noresults {
  color: rgba(255, 255, 255, 0.3); }

/*
	jQuery.mmenu effects extension CSS
*/
html.mm-slide .mm-menu {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease; }
html.mm-slide.mm-opened .mm-menu {
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -o-transform: translateX(-40%);
  transform: translateX(-40%); }
html.mm-slide.mm-opening .mm-menu {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }
html.mm-slide.mm-right.mm-opened .mm-menu {
  -webkit-transform: translateX(40%);
  -moz-transform: translateX(40%);
  -ms-transform: translateX(40%);
  -o-transform: translateX(40%);
  transform: translateX(40%); }
html.mm-slide.mm-right.mm-opening .mm-menu {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }
html.mm-slide.mm-top.mm-opened .mm-menu {
  -webkit-transform: translateY(-40%);
  -moz-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  -o-transform: translateY(-40%);
  transform: translateY(-40%); }
html.mm-slide.mm-top.mm-opening .mm-menu {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%); }
html.mm-slide.mm-bottom.mm-opened .mm-menu {
  -webkit-transform: translateY(40%);
  -moz-transform: translateY(40%);
  -ms-transform: translateY(40%);
  -o-transform: translateY(40%);
  transform: translateY(40%); }
html.mm-slide.mm-bottom.mm-opening .mm-menu {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%); }

html.mm-zoom-menu .mm-menu {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease; }
html.mm-zoom-menu.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateX(-40%);
  -moz-transform: scale(0.7, 0.7) translateX(-40%);
  -ms-transform: scale(0.7, 0.7) translateX(-40%);
  -o-transform: scale(0.7, 0.7) translateX(-40%);
  transform: scale(0.7, 0.7) translateX(-40%);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }
html.mm-zoom-menu.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateX(0%);
  -moz-transform: scale(1, 1) translateX(0%);
  -ms-transform: scale(1, 1) translateX(0%);
  -o-transform: scale(1, 1) translateX(0%);
  transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-right.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateX(40%);
  -moz-transform: scale(0.7, 0.7) translateX(40%);
  -ms-transform: scale(0.7, 0.7) translateX(40%);
  -o-transform: scale(0.7, 0.7) translateX(40%);
  transform: scale(0.7, 0.7) translateX(40%);
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }
html.mm-zoom-menu.mm-right.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateX(0%);
  -moz-transform: scale(1, 1) translateX(0%);
  -ms-transform: scale(1, 1) translateX(0%);
  -o-transform: scale(1, 1) translateX(0%);
  transform: scale(1, 1) translateX(0%); }
html.mm-zoom-menu.mm-top.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateY(-40%);
  -moz-transform: scale(0.7, 0.7) translateY(-40%);
  -ms-transform: scale(0.7, 0.7) translateY(-40%);
  -o-transform: scale(0.7, 0.7) translateY(-40%);
  transform: scale(0.7, 0.7) translateY(-40%);
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top; }
html.mm-zoom-menu.mm-top.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateY(0%);
  -moz-transform: scale(1, 1) translateY(0%);
  -ms-transform: scale(1, 1) translateY(0%);
  -o-transform: scale(1, 1) translateY(0%);
  transform: scale(1, 1) translateY(0%); }
html.mm-zoom-menu.mm-bottom.mm-opened .mm-menu {
  -webkit-transform: scale(0.7, 0.7) translateY(40%);
  -moz-transform: scale(0.7, 0.7) translateY(40%);
  -ms-transform: scale(0.7, 0.7) translateY(40%);
  -o-transform: scale(0.7, 0.7) translateY(40%);
  transform: scale(0.7, 0.7) translateY(40%);
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom; }
html.mm-zoom-menu.mm-bottom.mm-opening .mm-menu {
  -webkit-transform: scale(1, 1) translateY(0%);
  -moz-transform: scale(1, 1) translateY(0%);
  -ms-transform: scale(1, 1) translateY(0%);
  -o-transform: scale(1, 1) translateY(0%);
  transform: scale(1, 1) translateY(0%); }

html.mm-zoom-page.mm-opened .mm-page {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }
html.mm-zoom-page.mm-opening .mm-page {
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5); }
html.mm-zoom-page.mm-right.mm-opened .mm-page {
  -webkit-transform-origin: right center;
  -moz-transform-origin: right center;
  -ms-transform-origin: right center;
  -o-transform-origin: right center;
  transform-origin: right center; }
html.mm-zoom-page.mm-top.mm-opened .mm-page {
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top; }
html.mm-zoom-page.mm-bottom.mm-opened .mm-page {
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom; }

html.mm-zoom-panels .mm-panel {
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }
  html.mm-zoom-panels .mm-panel.mm-opened {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
    html.mm-zoom-panels .mm-panel.mm-opened.mm-subopened {
      -webkit-transform: scale(0.7, 0.7);
      -moz-transform: scale(0.7, 0.7);
      -ms-transform: scale(0.7, 0.7);
      -o-transform: scale(0.7, 0.7);
      transform: scale(0.7, 0.7); }

/*
	jQuery.mmenu fullscreen extension CSS
*/
html.mm-opening.mm-fullscreen .mm-page,
html.mm-opening.mm-fullscreen #mm-blocker,
html.mm-opening.mm-fullscreen .mm-fixed-top,
html.mm-opening.mm-fullscreen .mm-fixed-bottom {
  left: 100%; }

.mm-menu.mm-fullscreen {
  width: 100%; }

@media all and (max-width: 140px) {
  .mm-menu.mm-fullscreen {
    width: 140px; }

  html.mm-opening.mm-fullscreen .mm-page,
  html.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-opening.mm-fullscreen .mm-fixed-top,
  html.mm-opening.mm-fullscreen .mm-fixed-bottom {
    left: 140px; } }
@media all and (min-width: 10000px) {
  .mm-menu.mm-fullscreen {
    width: 10000px; }

  html.mm-opening.mm-fullscreen .mm-page,
  html.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-opening.mm-fullscreen .mm-fixed-top,
  html.mm-opening.mm-fullscreen .mm-fixed-bottom {
    left: 10000px; } }
.mm-menu.mm-top.mm-fullscreen {
  height: 100%; }

html.mm-top.mm-opening.mm-fullscreen .mm-page,
html.mm-top.mm-opening.mm-fullscreen #mm-blocker,
html.mm-top.mm-opening.mm-fullscreen .mm-fixed-top {
  top: 100%; }
html.mm-top.mm-opening.mm-fullscreen .mm-fixed-bottom {
  bottom: -100%; }

@media all and (max-height: 140px) {
  .mm-menu.mm-top.mm-fullscreen {
    height: 140px; }

  html.mm-top.mm-opening.mm-fullscreen .mm-page,
  html.mm-top.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-top.mm-opening.mm-fullscreen .mm-fixed-top {
    top: 140px; }
  html.mm-top.mm-opening.mm-fullscreen .mm-fixed-bottom {
    bottom: -140px; } }
@media all and (min-height: 10000px) {
  .mm-menu.mm-top.mm-fullscreen {
    height: 10000px; }

  html.mm-top.mm-opening.mm-fullscreen .mm-page,
  html.mm-top.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-top.mm-opening.mm-fullscreen .mm-fixed-top {
    top: 10000px; }
  html.mm-top.mm-opening.mm-fullscreen .mm-fixed-bottom {
    bottom: -10000px; } }
.mm-menu.mm-right.mm-fullscreen {
  width: 100%; }

html.mm-right.mm-opening.mm-fullscreen .mm-page,
html.mm-right.mm-opening.mm-fullscreen #mm-blocker,
html.mm-right.mm-opening.mm-fullscreen .mm-fixed-top,
html.mm-right.mm-opening.mm-fullscreen .mm-fixed-bottom {
  right: 100%; }

@media all and (max-width: 140px) {
  .mm-menu.mm-right.mm-fullscreen {
    width: 140px; }

  html.mm-right.mm-opening.mm-fullscreen .mm-page,
  html.mm-right.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-right.mm-opening.mm-fullscreen .mm-fixed-top,
  html.mm-right.mm-opening.mm-fullscreen .mm-fixed-bottom {
    right: 140px; } }
@media all and (min-width: 10000px) {
  .mm-menu.mm-right.mm-fullscreen {
    width: 10000px; }

  html.mm-right.mm-opening.mm-fullscreen .mm-page,
  html.mm-right.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-right.mm-opening.mm-fullscreen .mm-fixed-top,
  html.mm-right.mm-opening.mm-fullscreen .mm-fixed-bottom {
    right: 10000px; } }
.mm-menu.mm-bottom.mm-fullscreen {
  height: 100%; }

html.mm-bottom.mm-opening.mm-fullscreen .mm-page,
html.mm-bottom.mm-opening.mm-fullscreen #mm-blocker,
html.mm-bottom.mm-opening.mm-fullscreen .mm-fixed-bottom {
  bottom: 100%; }
html.mm-bottom.mm-opening.mm-fullscreen .mm-fixed-top {
  top: -100%; }

@media all and (max-height: 140px) {
  .mm-menu.mm-bottom.mm-fullscreen {
    height: 140px; }

  html.mm-bottom.mm-opening.mm-fullscreen .mm-page,
  html.mm-bottom.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-bottom.mm-opening.mm-fullscreen .mm-fixed-bottom {
    bottom: 140px; }
  html.mm-bottom.mm-opening.mm-fullscreen .mm-fixed-top {
    top: -140px; } }
@media all and (min-height: 10000px) {
  .mm-menu.mm-bottom.mm-fullscreen {
    height: 10000px; }

  html.mm-bottom.mm-opening.mm-fullscreen .mm-page,
  html.mm-bottom.mm-opening.mm-fullscreen #mm-blocker,
  html.mm-bottom.mm-opening.mm-fullscreen .mm-fixed-bottom {
    bottom: 10000px; }
  html.mm-bottom.mm-opening.mm-fullscreen .mm-fixed-top {
    top: -10000px; } }
.mm-menu.mm-fullscreen.mm-front, .mm-menu.mm-fullscreen.mm-next {
  left: -100%; }

@media all and (max-width: 140px) {
  .mm-menu.mm-fullscreen.mm-front, .mm-menu.mm-fullscreen.mm-next {
    left: -140px; } }
@media all and (min-width: 10000px) {
  .mm-menu.mm-fullscreen.mm-front, .mm-menu.mm-fullscreen.mm-next {
    left: -10000px; } }
.mm-menu.mm-top.mm-fullscreen.mm-front, .mm-menu.mm-top.mm-fullscreen.mm-next {
  top: -100%; }

@media all and (max-height: 140px) {
  .mm-menu.mm-top.mm-fullscreen.mm-front, .mm-menu.mm-top.mm-fullscreen.mm-next {
    top: -140px; } }
@media all and (min-height: 10000px) {
  .mm-menu.mm-top.mm-fullscreen.mm-front, .mm-menu.mm-top.mm-fullscreen.mm-next {
    top: -10000px; } }
.mm-menu.mm-right.mm-fullscreen.mm-front, .mm-menu.mm-right.mm-fullscreen.mm-next {
  right: -100%; }

@media all and (max-width: 140px) {
  .mm-menu.mm-right.mm-fullscreen.mm-front, .mm-menu.mm-right.mm-fullscreen.mm-next {
    right: -140px; } }
@media all and (min-width: 10000px) {
  .mm-menu.mm-right.mm-fullscreen.mm-front, .mm-menu.mm-right.mm-fullscreen.mm-next {
    right: -10000px; } }
.mm-menu.mm-bottom.mm-fullscreen.mm-front, .mm-menu.mm-bottom.mm-fullscreen.mm-next {
  bottom: -100%; }

@media all and (max-height: 140px) {
  .mm-menu.mm-bottom.mm-fullscreen.mm-front, .mm-menu.mm-bottom.mm-fullscreen.mm-next {
    bottom: -140px; } }
@media all and (min-height: 10000px) {
  .mm-menu.mm-bottom.mm-fullscreen.mm-front, .mm-menu.mm-bottom.mm-fullscreen.mm-next {
    bottom: -10000px; } }
html.mm-front .mm-fixed-top,
html.mm-front .mm-fixed-bottom,
html.mm-opening.mm-front .mm-fixed-top,
html.mm-opening.mm-front .mm-fixed-bottom {
  left: 0;
  right: auto; }
html.mm-front .mm-fixed-top,
html.mm-opening.mm-front .mm-fixed-top {
  top: 0; }
html.mm-front .mm-fixed-bottom,
html.mm-opening.mm-front .mm-fixed-bottom {
  bottom: 0; }

html.mm-opened.mm-fullscreen .mm-page {
  box-shadow: none !important; }

/*
	jQuery.mmenu position extension CSS
*/
.mm-menu.mm-top {
  width: 100%; }

html.mm-top.mm-opened .mm-page,
html.mm-top.mm-opened #mm-blocker {
  top: 0%; }

html.mm-top.mm-opened.mm-opening .mm-page,
html.mm-top.mm-opened.mm-opening #mm-blocker,
html.mm-top.mm-opened.mm-opening .mm-fixed-top,
html.mm-top.mm-opened.mm-opening .mm-fixed-bottom {
  left: 0; }

.mm-menu.mm-right {
  left: auto;
  right: 0; }

html.mm-right.mm-opened .mm-page,
html.mm-right.mm-opened #mm-blocker,
html.mm-right.mm-opened .mm-fixed-top,
html.mm-right.mm-opened .mm-fixed-bottom {
  left: auto;
  right: 0%; }

html.mm-right.mm-opened.mm-opening .mm-page,
html.mm-right.mm-opened.mm-opening #mm-blocker,
html.mm-right.mm-opened.mm-opening .mm-fixed-top,
html.mm-right.mm-opened.mm-opening .mm-fixed-bottom {
  left: auto; }

.mm-menu.mm-bottom {
  width: 100%;
  top: auto;
  bottom: 0; }

html.mm-bottom.mm-opened .mm-page,
html.mm-bottom.mm-opened #mm-blocker {
  bottom: 0%;
  top: auto; }

html.mm-bottom.mm-opened.mm-opening .mm-page,
html.mm-bottom.mm-opened.mm-opening #mm-blocker,
html.mm-bottom.mm-opened.mm-opening .mm-fixed-top,
html.mm-bottom.mm-opened.mm-opening .mm-fixed-bottom {
  top: auto;
  left: 0; }

.mm-menu.mm-top {
  height: 80%; }

html.mm-top.mm-opening .mm-page,
html.mm-top.mm-opening #mm-blocker,
html.mm-top.mm-opening .mm-fixed-top {
  top: 80%; }
html.mm-top.mm-opening .mm-fixed-bottom {
  bottom: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-top {
    height: 140px; }

  html.mm-top.mm-opening .mm-page,
  html.mm-top.mm-opening #mm-blocker,
  html.mm-top.mm-opening .mm-fixed-top {
    top: 140px; }
  html.mm-top.mm-opening .mm-fixed-bottom {
    bottom: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-top {
    height: 880px; }

  html.mm-top.mm-opening .mm-page,
  html.mm-top.mm-opening #mm-blocker,
  html.mm-top.mm-opening .mm-fixed-top {
    top: 880px; }
  html.mm-top.mm-opening .mm-fixed-bottom {
    bottom: -880px; } }
.mm-menu.mm-right {
  width: 80%; }

html.mm-right.mm-opening .mm-page,
html.mm-right.mm-opening #mm-blocker,
html.mm-right.mm-opening .mm-fixed-top,
html.mm-right.mm-opening .mm-fixed-bottom {
  right: 80%; }

@media all and (max-width: 175px) {
  .mm-menu.mm-right {
    width: 140px; }

  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker,
  html.mm-right.mm-opening .mm-fixed-top,
  html.mm-right.mm-opening .mm-fixed-bottom {
    right: 140px; } }
@media all and (min-width: 550px) {
  .mm-menu.mm-right {
    width: 440px; }

  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker,
  html.mm-right.mm-opening .mm-fixed-top,
  html.mm-right.mm-opening .mm-fixed-bottom {
    right: 440px; } }
.mm-menu.mm-bottom {
  height: 80%; }

html.mm-bottom.mm-opening .mm-page,
html.mm-bottom.mm-opening #mm-blocker,
html.mm-bottom.mm-opening .mm-fixed-bottom {
  bottom: 80%; }
html.mm-bottom.mm-opening .mm-fixed-top {
  top: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-bottom {
    height: 140px; }

  html.mm-bottom.mm-opening .mm-page,
  html.mm-bottom.mm-opening #mm-blocker,
  html.mm-bottom.mm-opening .mm-fixed-bottom {
    bottom: 140px; }
  html.mm-bottom.mm-opening .mm-fixed-top {
    top: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-bottom {
    height: 880px; }

  html.mm-bottom.mm-opening .mm-page,
  html.mm-bottom.mm-opening #mm-blocker,
  html.mm-bottom.mm-opening .mm-fixed-bottom {
    bottom: 880px; }
  html.mm-bottom.mm-opening .mm-fixed-top {
    top: -880px; } }
/*
	jQuery.mmenu z-position extension CSS
*/
html.mm-front.mm-opened .mm-page {
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important; }

.mm-menu.mm-front,
.mm-menu.mm-next {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  -webkit-transition-property: top, right, bottom, left, -webkit-transform;
  -moz-transition-property: top, right, bottom, left, -moz-transform;
  -ms-transition-property: top, right, bottom, left, -o-transform;
  -o-transition-property: top, right, bottom, left, -o-transform;
  transition-property: top, right, bottom, left, transform; }

html.mm-front .mm-page,
html.mm-front #mm-blocker {
  z-index: 0; }

.mm-menu.mm-front {
  z-index: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }

html.mm-opened.mm-next .mm-page {
  box-shadow: none; }

html.mm-opening .mm-menu.mm-front, html.mm-opening .mm-menu.mm-next {
  left: 0%; }

.mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
  left: 0; }

html.mm-opening .mm-menu.mm-top.mm-front, html.mm-opening .mm-menu.mm-top.mm-next {
  left: 0;
  top: 0%; }

.mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
  left: auto; }

html.mm-opening .mm-menu.mm-right.mm-front, html.mm-opening .mm-menu.mm-right.mm-next {
  left: auto;
  right: 0%; }

.mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
  top: auto;
  left: 0; }

html.mm-opening .mm-menu.mm-bottom.mm-front, html.mm-opening .mm-menu.mm-bottom.mm-next {
  left: 0;
  bottom: 0%; }

.mm-menu.mm-front, .mm-menu.mm-next {
  left: -80%; }

@media all and (max-width: 175px) {
  .mm-menu.mm-front, .mm-menu.mm-next {
    left: -140px; } }
@media all and (min-width: 550px) {
  .mm-menu.mm-front, .mm-menu.mm-next {
    left: -440px; } }
.mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
  top: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
    top: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-top.mm-front, .mm-menu.mm-top.mm-next {
    top: -880px; } }
.mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
  right: -80%; }

@media all and (max-width: 175px) {
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
    right: -140px; } }
@media all and (min-width: 550px) {
  .mm-menu.mm-right.mm-front, .mm-menu.mm-right.mm-next {
    right: -440px; } }
.mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
  bottom: -80%; }

@media all and (max-height: 175px) {
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
    bottom: -140px; } }
@media all and (min-height: 1100px) {
  .mm-menu.mm-bottom.mm-front, .mm-menu.mm-bottom.mm-next {
    bottom: -880px; } }
html.mm-front .mm-fixed-top,
html.mm-front .mm-fixed-bottom,
html.mm-opening.mm-front .mm-fixed-top,
html.mm-opening.mm-front .mm-fixed-bottom {
  left: 0;
  right: auto; }
html.mm-front .mm-fixed-top,
html.mm-opening.mm-front .mm-fixed-top {
  top: 0; }
html.mm-front .mm-fixed-bottom,
html.mm-opening.mm-front .mm-fixed-bottom {
  bottom: 0; }

/*
	jQuery.mmenu themes extension CSS
*/
html.mm-opened.mm-light .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-ismenu.mm-light {
  background: #f3f3f3;
  color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-light .mm-list > li:after {
  border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light .mm-list > li > a.mm-subclose {
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-list > li > a.mm-subopen:after, .mm-menu.mm-light .mm-list > li > a.mm-subclose:before {
  border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-light .mm-list > li > a.mm-subopen:before {
  border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-light .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-light .mm-list > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-light .mm-list > li.mm-label {
  background: rgba(0, 0, 0, 0.03); }
.mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-light.mm-vertical .mm-list li.mm-opened > ul {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-light li.mm-noresults {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-light .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-light .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-light .mm-header a:before {
    border-color: rgba(0, 0, 0, 0.3); }

html.mm-opened.mm-white .mm-page {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mm-ismenu.mm-white {
  background: white;
  color: rgba(0, 0, 0, 0.6); }

.mm-menu.mm-white .mm-list > li:after {
  border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white .mm-list > li > a.mm-subclose {
  background: rgba(0, 0, 0, 0.06);
  color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-list > li > a.mm-subopen:after, .mm-menu.mm-white .mm-list > li > a.mm-subclose:before {
  border-color: rgba(0, 0, 0, 0.3); }
.mm-menu.mm-white .mm-list > li > a.mm-subopen:before {
  border-color: rgba(0, 0, 0, 0.1); }
.mm-menu.mm-white .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-white .mm-list > li.mm-selected > span {
  background: rgba(0, 0, 0, 0.06); }
.mm-menu.mm-white .mm-list > li.mm-label {
  background: rgba(0, 0, 0, 0.03); }
.mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-white.mm-vertical .mm-list li.mm-opened > ul {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-search input {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.6); }
.mm-menu.mm-white li.mm-noresults {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white em.mm-counter {
  color: rgba(0, 0, 0, 0.3); }

.mm-menu.mm-white .mm-list li.mm-label > div > div {
  background: rgba(0, 0, 0, 0.03); }

.mm-menu.mm-white .mm-header {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.3); }
  .mm-menu.mm-white .mm-header a:before {
    border-color: rgba(0, 0, 0, 0.3); }

html.mm-opened.mm-black .mm-page {
  box-shadow: none; }

.mm-ismenu.mm-black {
  background: black;
  color: rgba(255, 255, 255, 0.6); }

.mm-menu.mm-black .mm-list > li:after {
  border-color: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black .mm-list > li > a.mm-subclose {
  background: rgba(255, 255, 255, 0.25);
  color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-list > li > a.mm-subopen:after, .mm-menu.mm-black .mm-list > li > a.mm-subclose:before {
  border-color: rgba(255, 255, 255, 0.3); }
.mm-menu.mm-black .mm-list > li > a.mm-subopen:before {
  border-color: rgba(255, 255, 255, 0.2); }
.mm-menu.mm-black .mm-list > li.mm-selected > a:not(.mm-subopen),
.mm-menu.mm-black .mm-list > li.mm-selected > span {
  background: rgba(255, 255, 255, 0.25); }
.mm-menu.mm-black .mm-list > li.mm-label {
  background: rgba(255, 255, 255, 0.15); }
.mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > a.mm-subopen,
.mm-menu.mm-black.mm-vertical .mm-list li.mm-opened > ul {
  background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-search input {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6); }
.mm-menu.mm-black li.mm-noresults {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black em.mm-counter {
  color: rgba(255, 255, 255, 0.3); }

.mm-menu.mm-black .mm-list li.mm-label > div > div {
  background: rgba(255, 255, 255, 0.15); }

.mm-menu.mm-black .mm-header {
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.3); }
  .mm-menu.mm-black .mm-header a:before {
    border-color: rgba(255, 255, 255, 0.3); }

.mm-ismenu {
  background-color: #005599;
  color: #fff; }

.mm-menu .sub-menu {
  background-color: #fff;
  color: #005599; }
  .mm-menu .sub-menu h1 {
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 0.2em; }

.mm-menu {
  font-size: 1em;
  letter-spacing: 0.1em; }
  .mm-menu .special {
    color: #f58d16; }
  .mm-menu p {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    font-weight: 300;
    color: #333;
    font-size: 0.8em; }
  .mm-menu img {
    float: left;
    margin-right: 4%;
    max-width: 20%; }
  .mm-menu div.has-img {
    float: left;
    width: 76%; }
  .mm-menu .img-round {
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    display: none; }
  .mm-menu .button {
    color: #fff;
    background-color: #005599;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0.4em 0.7em;
    margin-bottom: 0.2em;
    display: block;
    float: left;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase; }
  .mm-menu em.mm-counter {
    color: #005599;
    top: 30%;
    display: none; }
    @media (min-width: 1082px) {
      .mm-menu em.mm-counter {
        display: block; } }

.mm-menu > .mm-list {
  padding: 0;
  font-size: 1em; }
  .mm-menu > .mm-list > li > span {
    white-space: normal; }
  .mm-menu > .mm-list > li > a.mm-subopen:after {
    border-color: #005599 !important; }
  .mm-menu > .mm-list > li > a.mm-subclose {
    padding: 1em 1em 1em 1.5em;
    margin: 0;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    font-weight: 400; }
    .mm-menu > .mm-list > li > a.mm-subclose:before {
      margin-bottom: -5px; }
  .mm-menu > .mm-list .mm-subtitle .mm-subclose:before {
    border-color: white !important; }
  .mm-menu > .mm-list > li > a {
    white-space: normal; }
    .mm-menu > .mm-list > li > a.mm-subopen:before {
      border-color: #ccc; }
    .mm-menu > .mm-list > li > a.mm-subopen:after, .mm-menu > .mm-list > li > a.mm-subclose:before {
      border-color: #ccc; }
  .mm-menu > .mm-list li {
    border-bottom: solid 1px #d4d4d4;
    padding: 0.2em 0.5em 0.2em 0em;
    overflow: hidden;
    *zoom: 1; }
  .mm-menu > .mm-list li:after {
    border-color: transparent; }
  .mm-menu > .mm-list .mm-subtitle {
    background-color: #005599;
    font-weight: 100;
    font-size: 1.4em;
    letter-spacing: 0.1em; }
    .mm-menu > .mm-list .mm-subtitle .mm-subclose:before {
      border-color: white; }

.mm-menu #mm-m0-p0 {
  text-transform: uppercase; }
  .mm-menu #mm-m0-p0 > .mm-list > li > a.mm-subopen:after {
    border-color: white !important; }
  .mm-menu #mm-m0-p0 > li > a.mm-subopen:before {
    border-color: #004780; }
  .mm-menu #mm-m0-p0 > li > a.mm-subopen:after, .mm-menu #mm-m0-p0 > li > a.mm-subclose:before {
    border-color: white !important; }
  .mm-menu #mm-m0-p0 li {
    border-bottom: solid 1px #004780; }
  .mm-menu #mm-m0-p0 li:after {
    border-color: transparent; }

html .mm-menu .svg {
  width: 17px;
  height: 17px;
  fill: white !important;
  float: left;
  margin-top: 3px;
  margin-left: 0;
  margin-right: 0.8em;
  padding: 0; }

html .up-icon {
  width: 29px;
  height: 27px;
  fill: white !important; }

html svg {
  max-height: 100% !important; }

.logo {
  max-width: 70px;
  width: 100%;
  height: 40px; }
  @media (min-width: 400px) {
    .logo {
      max-width: 100px;
      width: 100%; } }
  @media (min-width: 1082px) {
    .logo {
      max-width: 150px;
      width: 100%;
      height: 70px; } }
  .oldie .logo {
    max-width: 150px;
    width: 100%;
    height: 70px; }
  .logo .icon {
    max-width: 70px;
    width: 100%;
    max-height: 40px; }
    @media (min-width: 400px) {
      .logo .icon {
        max-width: 100px;
        width: 100%;
        max-height: 60px; } }
    @media (min-width: 1082px) {
      .logo .icon {
        max-width: 150px;
        width: 100%;
        max-height: 100px; } }
    .oldie .logo .icon {
      max-width: 150px;
      width: 100%;
      max-height: 100px; }
    .logo .icon path {
      fill: #eeeeee; }

.header {
  overflow: hidden;
  *zoom: 1; }
  .header .h-block {
    float: left;
    padding: 0 0.5em; }
  .header .logo {
    text-align: center; }
  .header .search {
    display: none; }
    @media (min-width: 1082px) {
      .header .search {
        display: block;
        padding: 1em 0; } }
    .header .search input {
      padding: 0.7em;
      font-size: 0.9em;
      width: 250px;
      border: none;
      height: 20px; }
    .header .search .search-button {
      color: white;
      background-color: #f58d16;
      text-decoration: none;
      font-weight: 100;
      padding: 0.7em;
      font-size: 0.9em;
      border: none;
      height: 22px;
      letter-spacing: 0.1em; }
  .header .user {
    border-left: 1px solid #008eff;
    border-right: 1px solid #008eff;
    float: right;
    position: relative;
    height: 60px;
    overflow: hidden;
    *zoom: 1; }
    .header .user a {
      color: white;
      text-decoration: none;
      display: block;
      font-weight: 100;
      letter-spacing: 0.1em;
      font-size: 0.8em;
      overflow: hidden;
      *zoom: 1;
      line-height: 1.1em; }
    .header .user .u-wrap {
      text-align: left;
      overflow: hidden;
      *zoom: 1; }
      .header .user .u-wrap .u-info {
        margin-top: 0.1em;
        float: left; }
      .header .user .u-wrap .u-img {
        float: left;
        -moz-border-radius: 8em;
        -webkit-border-radius: 8em;
        border-radius: 8em;
        margin-right: 0.5em;
        max-width: 35px; }
    .header .user .u-label {
      clear: both;
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 4px; }
